div.input-form {
	/* -- armin, there are 2 forms.css. one in the INCLUDE folder, and this one. Which one to use? Can one be deleted? */
	/*joel; alignment margin-left:auto;*/  
	margin-right:auto;

	margin-bottom: 20px;
	line-height:150%;
	background-color: #F3F6FA;

	/*Armin*/
	/*width: 95%;
	border-radius:.5em;
	/* NO MORE MOZ -- j  -moz-border-radius: .5em .5em .5em .5em;
	  -moz-box-shadow:.1em .1em .2em #999999;
	  box-shadow: .1em .1em .2em #999999;
         */
}

ul.registration_info {

}

div.input-form div.row h3 {
	margin-left: 0;	
}

div.input-form div.row {
	background-color: #F3F6FA;
	padding:8px;
}

/*<img> and <a> tags: on mouse hover the color of the background will keep the same!*/
div.input-form div.row img a:hover{
}

div.input-form .footer {
	border-top: 1px solid #F9F6F2;
}

div.input-form p {
	margin-left: 0px;
}

div.input-form input {
	z-index: 2;
}

div.input-form textarea {
	border: 1px solid #595241;
	width: 98%;
	padding: 2px;
	margin-right: 2px;
}

div.input-form input[type=text], div.input-form input[type=password] {
	border: 1px solid #595241;
	padding: 2px;
	max-width: 60%;
	background-color:white;
}

div.input-form textarea:focus, div.input-form  input[type=password]:focus, div.input-form  input[type=text]:focus{
	border:1px solid #545454;
	padding: 2px;
}

input[type=checkbox]{

	background-color: #fff;
}

div.input-form div.buttons {
	padding:8px;
}

div.input-form div.buttons input {
	background-color: #3866C4;
	font-weight: normal;
	border:  #AAA  solid 1px;
	color:#fff;
}
.formfield:focus{
	background-color: #fff;
}

#ot:focus{
	background-color: #fff;
}

/*Added by Silvia*/
div.input-form div.row_alternatives {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 0px;
}

/*Added by Armin*/
div.input-form div.row_explain {
	padding: 10px 8px 10px;
	/* Armin 15.09.2010: replace static font-size 8pt with 82% */
	font-size: 82%;
}

/* new in ATutor 2.0 */
input[type=text]{
	
	
}
input[type=password]{
	
	
}

div.input-form input[type=submit]{
	border-radius:.3em;
}

input[type=reset]{
	
}

.test_instruction{
	background-color: #f3f3f3; 
	padding: 5px 10px; 
	margin: 0px; 
	border-top: 1px solid;
}

.test_points{
	float: right; 
	width: 50%; 
	text-align: right; 
	font-weight: bold;
}

/* 11.03.10 Symon: Labels */
.registration_info label{
	float: left;    
width: 16em;    
margin-right: 0.2em;    
text-align: right;  
}

.registration_info li{
	float: left;    
	clear: left;    
	width: 100%;
	list-style: none;
	margin: 0 0 1em 0;
}

.registration_info {
	float: left;    
clear: left;    
width: 100%;    
margin: 0 0 1em 0;    
padding: 0;
}

/* 11.20.2010 Symon: Added to adjust OPTIONAL FORM ELEMENTS */
.optional_info {
	clear:left;
float:left;
margin:0 0 1em;
padding:0;
width:100%;
}

.optional_info li{
	float: left;    
	clear: left;    
	width: 100%;
	list-style: none;
	margin: 0 0 1em 0;
}

.optional_info label{
	float: left;    
width: 16em;    
margin-right: 0.2em;    
text-align: right;  
}

/* New IDs for OLs - */

#date-of-birth {
}

#date-of-birth li{
	display: inline;
	white-space: nowrap;
	
	float: none;
	clear: none;
}

#date-of-birth label {
	float: none;
	margin:0 -0.1em 0 1em;
vertical-align:text-top;
}

#gender label{
	float: none;
margin:0 -0.3em 0 1em;
}

#gender li{
	display: inline;
	white-space: nowrap;
	
	float: none;
	clear: none;
}

#gender {
}

.group_form h2{
background-color: #E4E4E4;
color:#000;
margin:0 0 1em 1em;
padding:0.3em 0 0.2em 0.5em;
width:100%;

font-size: 1.2em;
}

.group_form h3{
color:#000;
margin:0 0 1em 1em;
padding:0.3em 0 0.2em 0.5em;
width:100%;

font-size: 0.8em;
}

fieldset.group_choice {
	width: 100%;
	margin: 0;
	padding: 0;
}

/*
#address {
	list-style: none;
}

#address li{
	display: inline;
	white-space: nowrap;
	
	float: none;
	clear: none;
}

#address label {
	float: none;
}*/

/*--------------------------------------*/

#priv {
	font-size: 3em;
}
